<body>
    <div class="container d-flex align-items-center py-5">
        <div class="d-flex justify-content-center">
            <div class="col-7 pt-5">
                <h2>This First Heading <strong class="text-secondary">Will Cath Your Eye</strong> </h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti aut officia doloribus fugit blanditiis.
                    Deserunt mollitia, rem autem corporis id minima laboriosam impedit tenetur repellendus ipsum ipsam facilis
                    ducimus doloribus? </p>
            </div>
            <img src="/website/assets/img/1.jpg" class="rounded-circle float-end col-3 " alt="...">
    </div>
</body>
